.header
  .header-left
    = link_to root_path, class: "header-logo" do
      Triphoto
  .header-right
    - if user_signed_in?
      .link-btn
        .link-btn__left
          = link_to  user_path(current_user.id) , class: "btn", id: "link-btn__mypage" do
            Mypage
          = link_to new_post_path, class: "btn", id: "link-btn__upload" do
            Upload
        .link-btn__right
          #name
            = current_user.name
          = link_to destroy_user_session_path, method: :delete, class: "btn", id: "link-btn__logout" do
            Sign out
    - else
      .link-btn
        .link-btn__right
          = link_to new_user_session_path, class: "btn", id: "link-btn__login" do
            Sign in
          = link_to new_user_registration_path, class: "btn", id: "link-btn__newuser" do
            Sign up



