.side
  .search
    .search__items
      %input.search-index{placeholder: "search country", type: "text"}/
      = link_to "#", class:"search-btn" do
        = icon("fas", "search", class: "icon")
  .categories
    = link_to root_path, class: "category-item" do
      &emsp;All >
    = link_to category_path(id: 1), class: "category-item" do
      &emsp;Landscape >
    = link_to category_path(id: 2), class: "category-item" do
      &emsp;Food >
    = link_to category_path(id: 3), class: "category-item" do
      &emsp;People >
