.side
  .search
    .search__items
      = form_with(url: search_posts_path, local: true, method: :get) do |f|
        = f.text_field :country, placeholder: "search country", class: "search-index"
        %button{type: "submit", class: "search-btn"}
          %i.fas.fa-search
  .categories
    = link_to root_path, class: "category-item" do
      &emsp;All >
    = link_to category_path(id: 1), class: "category-item" do
      &emsp;Landscape >
    = link_to category_path(id: 2), class: "category-item" do
      &emsp;Food >
    = link_to category_path(id: 3), class: "category-item" do
      &emsp;People >
