.side
.main
  .main__upload
    = form_with model: @post, local: true do |f|
      %h3
        Upload new picture
      .post-image
        = f.label :image, class: "post-image__picture" do
          .image
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      .post-tag
        = f.collection_select(:category_id, @categories, :id, :category, {prompt: "select category"}, {class: "select"})
        = f.collection_select(:country_id, @countries, :id, :country, {prompt: "select country"}, {class: "select"})
        = f.submit "SEND", class: "send-btn"
